@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Book.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SamerCs.Default.BookGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>